body {
    font-family: 'Source Sans Pro', sans;
    font-size: 18px;
}
header{
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
header h3 {
    color: red;
    text-decoration: none;
}

.nav-left{
    margin-right: auto;
}
h3{
    color: red;
}

.nav-right{
    display: flex;
    padding-top: 20rem;
}


img{
    height:50px;
    width:10px;
}

.about {
    margin-left: 50px;
}
