{% load static %}
<!DOCTYPE html>
<html lnag="en">
<head>
    <link rel='stylesheet' href="{% static 'css/base.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet'>
    <title>Oke Emmanuel</title>
</head>
<body>
   <header>
       <div style="display:flex; flex-direction: row;" class="nav-left">
            <h3 >Oke Emmanuel</h3> <p style="margin-top:30px; margin-left:30px; display:inline-flex; color:#999; font-style:italic; font-weight:bold; font-size:0.7em;">speakingatoms@gmail.com, +2348029864891</p>
       </div>
       <div  class="nav-right">
           <a href="https://hng.tech/"> <img style="height:30px;" src="https://hng.tech/img/brand-logo.png"></a>
       </div>
        
   </header>
   {% include 'message.html' %}
    <div>
        {% block content %}
        {% endblock%}
    </div>
</body>
</html>