{% load static %}
<!DOCTYPE html>
<html lnag="en">
<head>
    <link rel='stylesheet' href="{% static 'css/base.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet'>
    <title>Oke Emmanuel</title>
</head>
<body>
   <header>
       <div class="nav-left">
            <h3>Oke Emmanuel</h3>
       </div>
       <div  class="nav-right">
           <a href="https://hng.tech/"> <img style="height:30px;" src="https://hng.tech/img/brand-logo.png"></a>
       </div>
        
   </header>
    <div>
        {% block content %}
        {% endblock%}
    </div>
</body>
</html>